body {
    background-color: rgb(52, 52, 53);
    color: white;
}

input {
    visibility: hidden;
}

main {
    margin-bottom: 10em;
}

.slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15vh;
    height: 70vh;
}

.slider-line {
    flex-shrink: 0;
    display: flex;
    height: 85%;
    width: 400%;
    margin-left: 0%;
    margin-bottom: 1rem;
}

.slide {
    width: 25%;
}

.slide>img {
    height: 100%;
    width: 100%;    
}

.des-and-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;


}

.des-wrapper {
    width: 50%;
    height: 4rem;
    overflow: hidden;
}

.description {
    display: inline-block;
    height: 400%;
    width: 50%;
}

.text {
    height: 25%
}

#slide1:checked ~ .slider-line {
    margin-left: 0%;
    transition: 3s ease-in-out;
}

#slide1:checked ~ .controls>#sl1label {
    background-color: blue;
}

#slide2:checked ~ .slider-line {
    margin-left: -100%;
    transition: 3s ease-in-out;
}

#slide2:checked ~ .des-wrapper>.description{
    margin-top: -100%;
    transition: 1s ease-in-out;
}

#slide2:checked ~ .controls>#sl2label {
    background-color: blue;
}

#slide3:checked ~ .slider-line {
    margin-left: -200%;
    transition: 3s ease-in-out;
}

#slide2:checked ~ .des-wrapper.description{
    margin-top: -100%;
    transition: 1s ease-in-out;
}

#slide3:checked ~ .controls>#sl3label {
    background-color: blue;
}

#slide4:checked ~ .slider-line {
    margin-left: -300%;
    transition: 3s ease-in-out;
}

#slide4:checked ~ .controls>#sl4label {
    background-color: blue;
}



.controls {
    display: flex;
    align-items: center;
    height: 10%;
    width: 50%;
    gap: 0.5em;
    justify-content: flex-end;
}

label {
    display: inline-block;
    background-color: wheat;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

label#slide2t {
    width: 0.5em;
    height: 0.5em;
}

label:hover {
    cursor: pointer;
    background-color: gray;
}

label:active {
    box-shadow: 0rem 0rem 1.2rem white;
}
